<div>
    <fieldset>
        <legend>フィルタ</legend>
        <div>
            <label>画数（新）</label>
            <input type='text' v-model='newkakusu' size=4>
        </div>
        <div>
            <label>画数（旧）</label>
            <input type='text' v-model='oldkakusu' size=4>
        </div>
    </fieldset>
    <a href='/qsei/admin/seimei_moji.php' target="_blank">新規追加</a>


    <table border='1'  class='admin'>
        <tr>
            <th>新字体</th>
            <th>画数(新)</th>
            <th>読み(新)</th>
            <th>画数書き換え</th>
            <th>種別(新)</th>
            <th>分離文字(新)</th>
            <th>登録(新)</th>
            <th>旧字体</th>
            <th>画数(旧)</th>
            <th>読み(旧)</th>
            <th>種別(旧)</th>
            <th>登録(旧)</th>
        </tr>
        <tr v-for='item in items'>
            <td><a :href='getNewLink(item)'>{{item.new_moji}}</a></td>
            <td><input type='number' v-model='item.new_kakusu' class='kakusu'></td>
            <td><input type='text' v-model='item.new_kana' class='kana'></td>
            <td>
                <select v-model='item.new_type'>
                    <option v-for='(key,value) of types' :value='value'>
                        {{key}}
                    </option>
                </select>
            </td>
            <td><input type='checkbox' v-model='item.override'>画数書き換え</td>            
            <td><input type='checkbox' v-model='item.isBunri'>分離文字</td>            
            <td><button @click='modifyNew(item)'>登録</button></td>
            <td><a :href='getOldLink(item)'>{{item.old_moji}}</a></td>
            <td><input type='number' v-model='item.old_kakusu' class='kakusu'></td>
            <td><input type='text' v-model='item.old_kana' class='kana'></td>
            <td>
                <select v-model='item.old_type'>
                    <option v-for='(key,value) of types' :value='value'>
                        {{key}}
                    </option>
                </select>
            </td>
            <td><button @click='modifyOld(item)'>登録</button></td>            
        </tr>
    </table>
</div>