<div>
    <table border='1' class='birthday_detail'>
        <tr>
            <th>年干支</th>
            <td>{{yearEto}}</td>
        </tr>

        <tr>
            <th>月干支</th>
            <td>{{monthEto}}</td>
        </tr>

        <tr>
            <th>日干支</th>
            <td>{{dayEto}}</td>
        </tr>

        <tr>
            <th>納音</th>
            <td>{{nattin}}</td>
        </tr>

        <tr>
            <th>最大吉方</th>
            <td>{{maxKipou}}</td>
        </tr>

        <tr>
            <th>吉方</th>
            <td>{{bigKipou}}</td>
        </tr>
        <tr>
            <th>傾斜</th>
            <td>{{keisha}}</td>
        </tr>
        <tr>
            <th>同会</th>
            <td>{{doukai}}</td>
        </tr>
    </table>
</div>