<table class='birthday'>
    <tr>
        <th>生年月日</th>
        <td>{{birthday}}({{age}}歳)</td>
        <th>十二支</th>
        <td>{{eto60.lastName}}({{eto60.name}})</td>
    </tr>
    <tr>
        <th>本命星</th>
        <td>{{yearQseiName}}</td>
        <th>月命星</th>
        <td>{{monthQseiName}}</td>
    </tr>
    <tr>
        <th>最大吉方</th>
        <td colspan='3'>{{maxKipou}}</td>
    </tr>
    <tr>
        <th>吉方</th>
        <td colspan='3'>{{bigKipou}}</td>
    </tr>
</table>